#content{
  .show-button {
    display: none;
    button {
      min-width: 100px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  @media  (min-width: $screen-sm-min ) {
    @include width_ctener(30%, 35%);
  }

}